/* Google web fonts 'Open Sans' (italic and normal) and 'Boogaloo' */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700);
@import url(http://fonts.googleapis.com/css?family=Boogaloo);

/* reset CSS file to reset browser default styling to a consistent starting point */
@import url(reset.css);

body {
    background-image: url(../img/texture-light.png);
    background-repeat: repeat;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 10px;
}

p{
	padding: 5px;
	font-family: 'Open Sans', sans-serif;
	margin: 8px;
}
.content-box { /* class selector */
	width: 80%; /* when it changes, the width changes */
	background-color: #FFF;
	margin: 0 auto; /* take horizontal center the box */
	box-shadow: 2px 2px 6px #555; /* 6. how much it blurred*/
}

.name {
	font-size: 36px;
	color: #116189;
	font-family: Boogaloo;
}

.motto {
	display: inline-block;
	font-size: 120%;
	font-style: italic;
	margin-bottom: 20px;
}

.ship{
	margin-right: 10px;
	float: right;
}


.logo{
	float: left;
	margin-right: 20px;
}

.factory{
	float: left; 
	margin-left: 12px;
	margin-right: 10px;
}

nav ul {
	background-color: #D74710;
	width: 97%;
	border-radius: 5px;
	margin: 0 auto;
	margin-bottom: 15px;
}

nav li {
	display: inline-block;
}

nav a {
	display: inline-block;
	padding: 10px;
	color: #FFF;
	font-weight: bold;
	font-size: 110%;
}

nav a:link,
nav a:visited {
	text-decoration: none;
}

.footer{
	margin-top: 40px;
	border-width:1px;	
	border-top-style:solid;
	border-color: #DEDEDE;
	font-size: 80%;
	font-style: italic;
	padding-top: 10px;
}
.last{
	font-size: 80%;
	font-style: italic;
}

.email{
	text-decoration: none;
}
nav a:hover {
	background-color: #FF9D45;
	border-radius: 5px;
}

