/* Google web fonts 'Open Sans' (italic and normal) and 'Boogaloo' */
@import url(reset.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);


.header {
	display: block;
	width: 100%;
	background: #fff;
	text-align: center;
	text-transform: uppercase;
	color: #ba8748;
}

.header-inner {
	width: 100%;
}

body {
	font-size: 100%;
	font: inherit;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
}

.div {
	display: block;
}

.unit4 {
	width: 510px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.topper {
	height: 152px;
	letter-spacing: 0.5em;
}

p.title {
	margin-top: 40px;
}

nav a {
	display: inline-block;
	padding-right: 45px;
	padding-left: 65px;
	color: #ba8748;
	letter-spacing: 0.2em;
}

nav li {
	display: inline-block;
}

nav a:link,
nav a:visited {
	text-decoration: none;
}

img {
	position: relative;
	height: 390px;
	width: 1280px;
	max-width: 100%;
	left: 0px; 
	display: inline;

}


.info {
	margin-top: 15px;
	margin-bottom: 15px;
	font-weight: 300;
	font-size: 80%;
	font-family: 'Open Sans Condensed', sans-serif;
}

.map{
	text-decoration: none;
	color: #ba8748;
	font-weight: 100;
}

.title {
	font-size: 110%;
}



